* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  height: 100px;
  margin: 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  font-size: 1.5rem;
}

#header-img {
  height: 100%;
  padding-left: 100px;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#container {
  width: 100%;
  z-index: -1;
}

#home {
  height: 100vh;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#home h1 p {
  margin-bottom: 10px;
}

#video {
  margin-top: 10px;
}

#features {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 125px;
  width: 80vw;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.5rem;
}

#pricing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
}

.level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;

  font-weight: 500;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 10px 0;
  background-color: #cebd7a;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#form {
  font-size: 1.5rem;
  height: 300px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#email {
  width: 100%;
  height: 50px;
}

#submit {
  width: 100%;
}

footer {
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}

footer > ul {
  width: 35vw;
  display: flex;
  justify-content: flex-end;
}

footer > ul > li > a {
  margin: 10px;
}

@media (max-width: 480px) {
  header {
    position: fixed;
    height: 200px;
    padding: 0;
    font-size: 1rem;
    flex-direction: column;
  }

  #header-img {
    padding: 0;
    height: 100px;
  }

  nav > ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  #home {
    margin-top: 150px;
    text-align: center;
    font-size: 1rem;
  }

  #features {
    margin: 0;
  }

  .grid {
    margin-bottom: 10px;
  }

  .desc > h2 {
    padding-bottom: 5px;
    font-size: 1rem;
  }

  .desc > p {
    padding-bottom: 5px;
    font-size: 1rem;
  }

  #pricing {
    flex-direction: column;
    margin-top: 150px;
    font-size: 1rem;
  }

  #contact {
    margin-top: 120px;
    font-size: 1rem;
  }

  #submit {
    font-size: 1rem;
  }
}
